@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
}